*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #2C3E50, #4CA1AF);
    


}

h2{
    margin-bottom:40px;
    font-size: 32px;
    font-weight: 700;
}

h3 span{
    color: white;
}

.b{
    color: #D32F2F;
}

.m{
    color: #4CAF50;
}

.i{
    color: #1E90FF;
}

.bmi{
    background-color: #1E1E1E;
    text-align: center;
    margin-top: 200px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius:10px;
    color: white;
}

input{
    text-align: center;
    padding: 8px 12px; 
    font-weight: bold;
    

}

#btn_color{
    background-color: #D32F2F;
}

button{
    background-color: #4CAF50;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover{
    background-color: #45a049;
    transform: scale(1.05);
}